html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #E1DDD3;
  color: canvastext;
}

time {
  font-style: normal;
  color: #6f6f6f !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

:lang(ko) {
    word-break: keep-all;
}

body {
  margin: 2rem auto;
  max-width: 720px;
  line-height: 1.6;
  font-size: 1.1em;
  font-family: system-ui, sans-serif;
  text-align: left;
  padding: 1em;
  border-radius: 3px;
}

p.byline {
  margin-block-start: 0px !important;
}

h1.title {
  margin-bottom: 0.2em !important;
}

a {
  text-underline-offset: 0.1em;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline;
}

ul.blog-posts a:hover {
  text-decoration: underline !important;
}

.title {
  text-decoration: none;
  border: 0;
  font-size: 1.8em;
  line-height: 1.2141em;
}

.title span {
  font-weight: 400;
}

nav a {
  text-decoration: none;
  margin-right: 13px;
  max-width: 100%;
  color: canvastext;
}

summary {
  font-weight: 600;
}

mark {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #5d5d5d;
  color: white;
}

textarea {
  background-color: #FBF8F2; /* Slightly lighter than the body */
  color: #343634;
  width: 100%;
}

input {
  background-color: #FBF8F2;
  color: #343634;
  font-size: 1em;
  font-family: monospace;
}

table {
  width: 100%;
  color: #343634;
}

table,
th,
td {
  border: 1px solid #999; /* Neutral gray borders */
  border-collapse: collapse;
  padding: 0.3125em;
}

img {
  max-height: 400px;
  object-fit: cover;
  max-width: 100%;
  display: block;
  margin: 0 auto 1em;
}

@media only screen and (max-width: 767px) {
  body {
    background: #faf4e6;
    font-size: 1em;
    padding: 0 1rem;
    box-shadow: none;
  }
  nav {
    font-size: 1em;
    margin-top: 1rem;
  }
  a.prev-post,
  a.next-post {
    font-size: 1em;
  }
  code {
    font-size: 1em;
  }
  blockquote {
    font-size: 1em;
  }
  html {
    background: none;
  }
}

code {
  padding: 0.125em 0.3125em;
  color: #474747;
  background-color: #fdfcfb;
  font-family: monospace;
}

pre code {
  display: block;
  padding: 1.25em;
  white-space: pre-wrap;
  overflow-x: auto;
  border: 1px solid #999;
  border-radius: 4px;
}

blockquote {
  font-style: italic;
}

.helptext {
  color: #555; /* Slightly darker for better readability */
  font-size: small;
}

.errorlist {
  color: #800; /* Dark maroon (appears as dark gray in grayscale) */
  font-size: small;
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  margin-bottom: 0.625em;
}

ul.blog-posts li span {
  flex: 0 0 8.125em;
}

ul.blog-posts a {
  text-decoration: none;
}

a.blog-tags {
  text-decoration: underline;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}

hr {
  border: none;
}

hr::before {
  content: '---';
  display: block;
  text-align: center;
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 0px;
  text-align: center;
  font-style: italic;
  color: #777;
}

::selection {
  background-color: rgba(45,170,219,.3);
}

.postcard-container {
  text-align: center;
  margin-top: 50px;
}

.postcard {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
}

.postcard img {
  width: 100%;
  height: auto;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.postcard img.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.back-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
}

textarea#message {
  width: 80%;
  height: 200px;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: white;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: system-ui, sans-serif;
}

textarea#letter {
  width: 100%;
  height: 200px;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  background: rgba(245,245,220,0.8);
  color: #333;
}

textarea#message:focus {
  outline: none;
}

.intro {
  margin-top: 20px;
  font-size: 1.2em;
}

.download-links {
  margin-top: 20px;
}

.video-container {
  margin-top: 20px;
  text-align: center;
}

.video-container video {
  width: 100%;
  max-width: 600px;
  height: 300px;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #343634;
  background-color: #F5F5DC;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
}

main {
  margin-bottom: 1em;
}

nav.post-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

a.prev-post,
a.next-post {
  text-align: left;
  text-decoration: none;
  color: #474747;
}