html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  background-color: #f6f5ed;
}

:lang(ko) {
  word-break: keep-all;
}

time {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}


:lang(en) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant-caps: all-small-caps;
    font-weight: bold;
  }
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  color: rgb(32, 33, 34);
  font-size: 18px;
  margin: 0 auto;
  padding: 1em;
  max-width: 647.546875px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 29px;
  text-rendering: optimizeLegibility;
  background-color: rgb(248, 249, 250);
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.24);
}

nav a {
  text-decoration: none;
}

a {
  color: #3366CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.blog-posts a:visited {
  color: #5d3fbb;
}

.title {
  text-decoration: none;
  border: 0;
}

.title h1 {
  font-size: 1.95552em;
  line-height: 1.2141em;
  margin: 1.25em 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 0.625em;
  color: #541313;
  font-size: 17px;
}

nav {
  text-align: center;
}

textarea {
  background-color: #f5f5f5; /* Light background color */
  color: #444; /* Darker font color for contrast */
  width: 100%;
  font-size: 1.2em;
}

input {
  background-color: #f5f5f5; /* Light background color */
  color: #444; /* Darker font color for contrast */
  font-size: 1em;
  font-family: 'Clover', monospace;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #999; /* Updated border color for contrast */
  padding: 0.3125em;
}

img {
  max-height: 400px;
  object-fit: cover;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.08),
  0px 5px 4px rgba(3, 7, 18, 0.06),
  0px 12px 9px rgba(3, 7, 18, 0.05),
  0px 20px 15px rgba(3, 7, 18, 0.03),
  0px 32px 24px rgba(3, 7, 18, 0.02);
  border: 1px solid #aaa;
}

code {
  padding: 0.125em 0.3125em;
  color: rgb(53, 53, 53); /* Updated code font color for contrast */
  background-color: #fff; /* Light background color */
  font-family: monospace;
}

pre code {
  display: block;
  padding: 1.25em;
  white-space: pre-wrap;
  overflow-x: auto;
  border: 1px solid #999; /* Updated border color for contrast */
  border-radius: 4px; /* Added border radius */
}

blockquote {
  border-left: 2px solid #FF3366; /* Updated border color for contrast */
  color: #444; /* Darker font color for contrast */
  padding-left: 1em;
  margin-left: 0;
}

.helptext {
  color: #777;
  font-size: small;
}

.errorlist {
  color: #cc3300; /* Updated error color for contrast */
  font-size: small;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 0.625em;
}

ul.blog-posts li span {
  flex: 0 0 8.125em;
}

a.blog-tags {
  line-height: 2;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}

hr {
  border: none;
}

hr::before {
  content: '---';
  display: block;
  text-align: center;
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 0px;
  text-align: center;
  font-style: italic;
  color: #777;
}

::selection {
  color: #444; /* Updated selection font color */
  background-color: #f2f2ce; /* Updated selection background color */
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow-y: auto;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  background-color: #e0e0da; /* Harmonious background color */
  color: #444; /* Harmonious font color */
  overflow-y: auto;
  max-height: 80vh;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #f5f5f5; /* Harmonious background color */
  color: #444; /* Harmonious font color */
  border: 1px solid #999; /* Border to match theme */
  border-radius: 4px; /* Rounded corners */
  font-family: 'Clover', monospace;
}

#search-results {
  margin-top: 20px;
  max-height: calc(80vh - 100px);
  overflow-y: auto;
}

.pagefind-ui__search-clear {
  display: none;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.postcard-container {
  text-align: center;
  margin-top: 50px;
}

.postcard {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
}

.postcard img {
  width: 100%;
  height: auto;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.postcard img.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.back-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5; /* Light background color */
}

textarea#message {
  width: 80%;
  height: 200px;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'LeeSeoyun';
}

textarea#letter {
  width: 100%;
  height: 200px;
  font-size: 16px;
  font-family: 'LeeSeoyun';
  background: rgba(255, 255, 255, 0.8);
  color: #444;
}

textarea#message:focus {
  outline: none;
}

.intro {
  margin-top: 20px;
  font-size: 1.2em;
}

.download-links {
  margin-top: 20px;
}

/* Add this CSS to your main CSS file */
.video-container {
  margin-top: 20px;
  text-align: center;
}

.video-container video {
  width: 100%;
  max-width: 600px;
  height: 300px;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px
}

main {
  margin-bottom: 1em;
  padding: 10px;
}
