# example netlify.toml
[build]
  command = "hugo --gc --minify"
  functions = "netlify/functions"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.155.0"

[[headers]]
  for = "/*"
[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "no-referrer"
  Permissions-Policy = "geolocation=(), microphone=()"
  Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"