{{ define "main" }}
<header>
    <a href="https://kangminsuk.com/info/"><p style="display:inline;background:#3737b3;padding:5px;border:2px solid #dbdbdb;font-size:120%;">{{ $.Site.Title }}</p></a>
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
<ul>
<li><a href="https://kangminsuk.com/newsletter/"><em>Subscribe via email.</em></a></li>
<li><a href="https://micro.kangminsuk.com/"><em>Follow on micro.blog.</em></a></li>
</ul>
{{ end }}
