{{ define "main" }}
<header>
    <a href="https://kangminsuk.com/info/"><p style="display:inline;background:#dbdbdb;color:blue;padding:5px;border:2px solid;font-size:120%;">{{ $.Site.Title }}</p></a>
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
<ul>
<li><a href="https://kangminsuk.com/newsletter/"><em>Subscribe via email.</em></a></li>
<li><a href="https://kangminsuk.com/micro/"><em>Check out my micro posts.</em></a></li>
</ul>
{{ end }}
