{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

<form
  action="https://buttondown.email/api/emails/embed-subscribe/kangminsuk"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/kangminsuk', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
</form>

{{ end }}