{{ define "main" }}
<script src="/pagefind/pagefind-ui.js"></script>
<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}

<script>
document.addEventListener('DOMContentLoaded', function() {
  var searchIcon = document.getElementById('search-icon');
  var searchOverlay = document.getElementById('search-overlay');
  var searchInput = document.getElementById('search-input');
  var searchResults = document.getElementById('search-results');

  searchIcon.addEventListener('click', function() {
    searchOverlay.style.display = 'block';
    searchInput.focus(); // Auto-focus the search input field
  });

  searchOverlay.addEventListener('click', function(event) {
    if (event.target === searchOverlay) {
      searchOverlay.style.display = 'none';
    }
  });

  // Close the search popup when the Escape key is pressed
  document.addEventListener('keydown', function(event) {
    if (event.key === 'Escape') {
      searchOverlay.style.display = 'none';
    }
  });
});
    
    new PagefindUI({
      element: '#search-results',
      showImages: false, 
      showEmptyFilters: false,
      resetStyles: false,
    });
  });
</script>

  <!-- Add the search icon and Pagefind elements -->
  <div class="search-container">
    <button id="search-icon" class="search-icon">🔎</button>
    <div id="search-overlay" class="search-overlay">
      <div id="search-box" class="search-box">
        <div id="search-results"></div>
      </div>
    </div>
  </div>

  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
      {{ else }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>

  {{ if not .Data.Singular }}
    <div>
      {{ range .Site.Taxonomies.tags }}
        <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
      {{ end }}
    </div>
  {{ end }}
</content>
{{ end }}