{{ define "main" }}
<main>
  {{ $listtitle := .Title }}
  {{ if or .Title .Content }}
  <div>
    {{ with .Content }}<div>{{ . }}</div>{{ end }}
  </div>
  {{ end }}

  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <div class="post-title">
        {{ if and (ne $listtitle "Posts") (ne $listtitle "Categories") (ne $listtitle "Tags") }}
        {{ else }}
        {{ end }}
          <a href="{{ .RelPermalink }}">{{.Title }}</a>
        </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}