{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }}
</p>
{{ end }}
<content>
  {{ .Content }}
  <hr></hr>
  <div class="previous-post" div style="display:inline">
      {{ if .PrevPage }}
      <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">Previous</a>
      {{ end }}
  <div class="next-post" div style="display:inline">
      {{ if .NextPage }}
      <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">Next</a>
      {{ end }}
  </div>
  </div>
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ with .Site.Params.author.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
  
{{ end }}
{{ end }}
