{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
    <hr></hr>
    <div class="next-post">
        {{ if .NextPage }}
        <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
        {{ end }}
    </div>
    
    <div class="previous-post">
        {{ if .PrevPage }}
        <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
        {{ end }}
    </div>
</article>
{{ end }}
