{{ define "main" }}
<pre>    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((--------
</pre>

<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}

  <ul class="blog-posts">

    {{/* Only show this <div> of tags if we are NOT on a taxonomy page */}}
    {{ if not .IsTaxonomy }}
      <div>
        {{ range .Site.Taxonomies.tags }}
          <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
        {{ end }}
      </div>
    {{ end }}

    {{ $grouped := .Pages.GroupByDate "2006" }}
    {{ range $grouped }}
      <h3>{{ .Key }}</h3>
      {{ range .Pages }}
        <li>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ end }}
    {{ else }}
      <li>
        {{ i18n "no-posts" }}
      </li>
    {{ end }}
  </ul>
</content>
{{ end }}