{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}
  <div>
    {{ range .Site.Taxonomies.tags }}
      <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
    {{ end }}
  </div>
  <ul class="blog-posts">
    {{ $grouped := .Pages.GroupByDate "2006" }}
    {{ range $grouped }}
	<h3>{{ .Key }}</h3>
      <li>
        <ul>
          {{ range .Pages }}
          <li>
            {{ if .Params.link }}
              <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
            {{ else }}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>
  {{ if not .Data.Singular }}
  {{ end }}
</content>
{{ end }}