{{ define "title" }}404{{ end }}

{{ define "main" }}
    <h1>ᓚᘏᗢ 404</h1>
    <p>Page not found.</p>
    <hr></hr>
    <h2><em>Are you looking for one of these?</em></h2>
    <ul>
        <li><a href="https://kangminsuk.com/ko/blog/aeropress/">에어로프레스 - 앨런 애들러</a></li>
        <li><a href="https://kangminsuk.com/ko/blog/obsidian/">Obsidian을 쓰는 이유</a></li>
        <li><a href="https://kangminsuk.com/ko/blog/ghost/">Substack에서 Ghost로 옮긴 이유</a></li>
        <li><a href="https://kangminsuk.com/blog/23-04-25/">Bear Blog and a Notepad</a></li>
    </ul>
{{ end }}
