<link rel="alternate" type="application/rss+xml" title="Minsuk Kang" href="https://kangminsuk.com/blog/index.xml" />
<link rel="alternate" type="application/rss+xml" title="강민석" href="https://kangminsuk.com/ko/blog/index.xml" />
<meta name="description" content="{{ .Site.Params.description | default .Site.Title }}">
<meta name="naver-site-verification" content="5f6fbf827984fd89b1daf6435c58e29fafeb1071" />
<script defer src="https://cloud.umami.is/script.js" data-website-id="feb7533d-7eaa-4bc0-8444-148dabde9a3c"></script>
<nav>{{- partial "nav.html" . -}}</nav>